{#

Description text for the Field Example.

#}

{% trans %}

<p>The Field Example provides a field composed of an HTML RGB value, like
  <code>#ff00ff</code>. To use it, add the field to a content type.</p>

{% endtrans %}
