{#

Description text for the JavaScript Example.

#}

{% trans %}

<p>Drupal includes jQuery and jQuery UI.</p>

<p>We have two examples of using these:</p>

<ol>
<li>
<p>An accordion-style section reveal effect: This demonstrates calling a jQuery
  UI function using Drupal rendering system.
</li>
<li>
<p>Sorting according to numeric weight:  This demonstrates attaching your own
  JavaScript code to individual page elements using Drupal rendering system.</p>
</li>
</ol>
{% endtrans %}
