{#

Description text for the Block Example.

#}

{% trans %}

<p>The Block Example provides three sample blocks which demonstrate the various block APIs. To experiment with the
blocks, enable and configure them on <a href="/admin/structure/block">the block admin page.</a></p>

{% endtrans %}
